* {
    margin: 0;
    padding: 0;
}


/* landing */

.front {
    width: 100%;
    padding-top: 15px;
    height: 80vh;
    background-color: #FFF9F9;
}

nav {
    background-color: transparent;
    height: 60px;
    padding: 15% 7%;
}

.nav-link {
    margin: 0 15px;
    font-family: 'Roboto Slab', serif;
    font-size: large;
    font-weight: bold;
}

.nav-item a {
    color: blue;
}

.front-image {
    position: absolute;
    width: 600px;
    height: 425px;
    right: 100px;
    /* top: 50px; */
    text-align: center;
    padding-top: 50px;
}

.front-image img {
    width: 500px;
}

.header-text {
    width: 400px;
    height: 400px;
    left: 20px;
    background-color: aqua;
}